* {
  box-sizing: border-box;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 3;
  letter-spacing: 0.2cap;
  font-size: 1rem;
}

h2 {
  color: #3e5c6d;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1cm;
  font-weight: 50;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 2; /* Eksempel på at øge afstanden mellem linjerne */
}

h3 {
  color: #4d7355;
  text-align: center;
  font-family: sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 2; /* Eksempel på at øge afstanden mellem linjerne */
  font-size: 2rem;
  margin-top: 60px;
  margin-bottom: 10px;
}

.catch {
  background-color: #c1d3c5;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 55px;
}

.catch p {
  color: #3e5c6d;
  letter-spacing: 0.3cap;
  display: flex;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  font-weight: bold;
}

.logo {
  grid-column: 1;
  grid-row: 1;
}

img {
  max-width: 50%;
  max-height: 100%;
}

header {
  display: grid;
  justify-items: center;
}

.snor {
  grid-column: 1;
  grid-row: 1;

  margin-left: 73%;
  max-width: 14%;
  margin-top: 7%;
}

.image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Juster topmargin efter behov */
}

.image-container {
  text-align: center;
  max-width: 30%; /* Juster efter behov */
}

.model-container {
  display: grid;
  justify-items: center;
  margin: 35px;
  margin-top: 65px;
}

.model2-container {
  display: grid;
  justify-items: center;
}

.model3-container {
  display: grid;
  justify-items: center;
}
.pige-container {
  display: grid;
  justify-items: end;

  img {
    max-width: 30%;
  }
}

.verden-container {
  max-width: 40%;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.image-container p {
  margin-top: 10px; /* Juster topmargin efter behov */
  font-family: Arial, Helvetica, sans-serif;
}

.kort-container,
.knap {
  display: flex;
  justify-content: center; /* Centrerer elementerne vandret */
  align-items: center; /* Centrerer elementerne lodret */
  margin-left: 20px;
  margin-right: 20px;
}

button {
  background-color: #ece3da;
  color: #3e5c6d;
  font-family: "Lacquer", system-ui;
  border: none;
  padding: 23px 65px;
  margin: 60px;
  font-size: 27px;
}

button p {
  margin: 10px;
}

.knap p {
  font-family: "Lacquer", system-ui;
  font-size: 23px;
  margin: 10px;
}

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}

.scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f00; /* Rød farve for scroll-indikator */
  z-index: 9999;
}

.scroll-progress {
  height: 100%;
  background-color: #fff; /* Hvid farve for scroll-fremgang */
  width: 100%;
  transform-origin: right; /* Scroll-indikatoren starter fra højre */
  transform: scaleX(0); /* Scroll-indikatoren starter skjult */
}

body {
  background-image: url("public/billeder/baggrun.webp");
  background-size: cover; /* Gør billedet dækker hele baggrundsområdet */
  background-position: center; /* Centrer billedet på baggrunden */
  background-repeat: no-repeat; /* Forhindre gentagelse af billedet */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-image {
  animation: rotate 15s linear infinite; /* Ændr '4s' til den ønskede varighed af rotationen */
}

.logo {
  opacity: 0; /* Start med at skjule logoet */
  transition: opacity 3s ease-in-out; /* Tilføj en overgangseffekt til opacity */
}

.logo.fade-in {
  opacity: 1; /* Vis logoet med fuld gennemsigtighed */
}
